@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Stroke-Gap-Icons?d7yf1v');
	src:url('../fonts/Stroke-Gap-Icons.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Stroke-Gap-Icons.woff?d7yf1v') format('woff'),
		url('../fonts/Stroke-Gap-Icons.ttf?d7yf1v') format('truetype'),
		url('../fonts/Stroke-Gap-Icons.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


[class^=".icon-"], [class*=" .icon-"] {
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon {
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-WorldWide:before {
	content: "\e600";
}
.icon-WorldGlobe:before {
	content: "\e601";
}
.icon-Underpants:before {
	content: "\e602";
}
.icon-Tshirt:before {
	content: "\e603";
}
.icon-Trousers:before {
	content: "\e604";
}
.icon-Tie:before {
	content: "\e605";
}
.icon-TennisBall:before {
	content: "\e606";
}
.icon-Telesocpe:before {
	content: "\e607";
}
.icon-Stop:before {
	content: "\e608";
}
.icon-Starship:before {
	content: "\e609";
}
.icon-Starship2:before {
	content: "\e60a";
}
.icon-Speaker:before {
	content: "\e60b";
}
.icon-Speaker2:before {
	content: "\e60c";
}
.icon-Soccer:before {
	content: "\e60d";
}
.icon-Snikers:before {
	content: "\e60e";
}
.icon-Scisors:before {
	content: "\e60f";
}
.icon-Puzzle:before {
	content: "\e610";
}
.icon-Printer:before {
	content: "\e611";
}
.icon-Pool:before {
	content: "\e612";
}
.icon-Podium:before {
	content: "\e613";
}
.icon-Play:before {
	content: "\e614";
}
.icon-Planet:before {
	content: "\e615";
}
.icon-Pause:before {
	content: "\e616";
}
.icon-Next:before {
	content: "\e617";
}
.icon-MusicNote2:before {
	content: "\e618";
}
.icon-MusicNote:before {
	content: "\e619";
}
.icon-MusicMixer:before {
	content: "\e61a";
}
.icon-Microphone:before {
	content: "\e61b";
}
.icon-Medal:before {
	content: "\e61c";
}
.icon-ManFigure:before {
	content: "\e61d";
}
.icon-Magnet:before {
	content: "\e61e";
}
.icon-Like:before {
	content: "\e61f";
}
.icon-Hanger:before {
	content: "\e620";
}
.icon-Handicap:before {
	content: "\e621";
}
.icon-Forward:before {
	content: "\e622";
}
.icon-Footbal:before {
	content: "\e623";
}
.icon-Flag:before {
	content: "\e624";
}
.icon-FemaleFigure:before {
	content: "\e625";
}
.icon-Dislike:before {
	content: "\e626";
}
.icon-DiamondRing:before {
	content: "\e627";
}
.icon-Cup:before {
	content: "\e628";
}
.icon-Crown:before {
	content: "\e629";
}
.icon-Column:before {
	content: "\e62a";
}
.icon-Click:before {
	content: "\e62b";
}
.icon-Cassette:before {
	content: "\e62c";
}
.icon-Bomb:before {
	content: "\e62d";
}
.icon-BatteryLow:before {
	content: "\e62e";
}
.icon-BatteryFull:before {
	content: "\e62f";
}
.icon-Bascketball:before {
	content: "\e630";
}
.icon-Astronaut:before {
	content: "\e631";
}
.icon-WineGlass:before {
	content: "\e632";
}
.icon-Water:before {
	content: "\e633";
}
.icon-Wallet:before {
	content: "\e634";
}
.icon-Umbrella:before {
	content: "\e635";
}
.icon-TV:before {
	content: "\e636";
}
.icon-TeaMug:before {
	content: "\e637";
}
.icon-Tablet:before {
	content: "\e638";
}
.icon-Soda:before {
	content: "\e639";
}
.icon-SodaCan:before {
	content: "\e63a";
}
.icon-SimCard:before {
	content: "\e63b";
}
.icon-Signal:before {
	content: "\e63c";
}
.icon-Shaker:before {
	content: "\e63d";
}
.icon-Radio:before {
	content: "\e63e";
}
.icon-Pizza:before {
	content: "\e63f";
}
.icon-Phone:before {
	content: "\e640";
}
.icon-Notebook:before {
	content: "\e641";
}
.icon-Mug:before {
	content: "\e642";
}
.icon-Mastercard:before {
	content: "\e643";
}
.icon-Ipod:before {
	content: "\e644";
}
.icon-Info:before {
	content: "\e645";
}
.icon-Icecream2:before {
	content: "\e646";
}
.icon-Icecream1:before {
	content: "\e647";
}
.icon-Hourglass:before {
	content: "\e648";
}
.icon-Help:before {
	content: "\e649";
}
.icon-Goto:before {
	content: "\e64a";
}
.icon-Glasses:before {
	content: "\e64b";
}
.icon-Gameboy:before {
	content: "\e64c";
}
.icon-ForkandKnife:before {
	content: "\e64d";
}
.icon-Export:before {
	content: "\e64e";
}
.icon-Exit:before {
	content: "\e64f";
}
.icon-Espresso:before {
	content: "\e650";
}
.icon-Drop:before {
	content: "\e651";
}
.icon-Download:before {
	content: "\e652";
}
.icon-Dollars:before {
	content: "\e653";
}
.icon-Dollar:before {
	content: "\e654";
}
.icon-DesktopMonitor:before {
	content: "\e655";
}
.icon-Corkscrew:before {
	content: "\e656";
}
.icon-CoffeeToGo:before {
	content: "\e657";
}
.icon-Chart:before {
	content: "\e658";
}
.icon-ChartUp:before {
	content: "\e659";
}
.icon-ChartDown:before {
	content: "\e65a";
}
.icon-Calculator:before {
	content: "\e65b";
}
.icon-Bread:before {
	content: "\e65c";
}
.icon-Bourbon:before {
	content: "\e65d";
}
.icon-BottleofWIne:before {
	content: "\e65e";
}
.icon-Bag:before {
	content: "\e65f";
}
.icon-Arrow:before {
	content: "\e660";
}
.icon-Antenna2:before {
	content: "\e661";
}
.icon-Antenna1:before {
	content: "\e662";
}
.icon-Anchor:before {
	content: "\e663";
}
.icon-Wheelbarrow:before {
	content: "\e664";
}
.icon-Webcam:before {
	content: "\e665";
}
.icon-Unlinked:before {
	content: "\e666";
}
.icon-Truck:before {
	content: "\e667";
}
.icon-Timer:before {
	content: "\e668";
}
.icon-Time:before {
	content: "\e669";
}
.icon-StorageBox:before {
	content: "\e66a";
}
.icon-Star:before {
	content: "\e66b";
}
.icon-ShoppingCart:before {
	content: "\e66c";
}
.icon-Shield:before {
	content: "\e66d";
}
.icon-Seringe:before {
	content: "\e66e";
}
.icon-Pulse:before {
	content: "\e66f";
}
.icon-Plaster:before {
	content: "\e670";
}
.icon-Plaine:before {
	content: "\e671";
}
.icon-Pill:before {
	content: "\e672";
}
.icon-PicnicBasket:before {
	content: "\e673";
}
.icon-Phone2:before {
	content: "\e674";
}
.icon-Pencil:before {
	content: "\e675";
}
.icon-Pen:before {
	content: "\e676";
}
.icon-PaperClip:before {
	content: "\e677";
}
.icon-On-Off:before {
	content: "\e678";
}
.icon-Mouse:before {
	content: "\e679";
}
.icon-Megaphone:before {
	content: "\e67a";
}
.icon-Linked:before {
	content: "\e67b";
}
.icon-Keyboard:before {
	content: "\e67c";
}
.icon-House:before {
	content: "\e67d";
}
.icon-Heart:before {
	content: "\e67e";
}
.icon-Headset:before {
	content: "\e67f";
}
.icon-FullShoppingCart:before {
	content: "\e680";
}
.icon-FullScreen:before {
	content: "\e681";
}
.icon-Folder:before {
	content: "\e682";
}
.icon-Floppy:before {
	content: "\e683";
}
.icon-Files:before {
	content: "\e684";
}
.icon-File:before {
	content: "\e685";
}
.icon-FileBox:before {
	content: "\e686";
}
.icon-ExitFullScreen:before {
	content: "\e687";
}
.icon-EmptyBox:before {
	content: "\e688";
}
.icon-Delete:before {
	content: "\e689";
}
.icon-Controller:before {
	content: "\e68a";
}
.icon-Compass:before {
	content: "\e68b";
}
.icon-CompassTool:before {
	content: "\e68c";
}
.icon-ClipboardText:before {
	content: "\e68d";
}
.icon-ClipboardChart:before {
	content: "\e68e";
}
.icon-ChemicalGlass:before {
	content: "\e68f";
}
.icon-CD:before {
	content: "\e690";
}
.icon-Carioca:before {
	content: "\e691";
}
.icon-Car:before {
	content: "\e692";
}
.icon-Book:before {
	content: "\e693";
}
.icon-BigTruck:before {
	content: "\e694";
}
.icon-Bicycle:before {
	content: "\e695";
}
.icon-Wrench:before {
	content: "\e696";
}
.icon-Web:before {
	content: "\e697";
}
.icon-Watch:before {
	content: "\e698";
}
.icon-Volume:before {
	content: "\e699";
}
.icon-Video:before {
	content: "\e69a";
}
.icon-Users:before {
	content: "\e69b";
}
.icon-User:before {
	content: "\e69c";
}
.icon-UploadCLoud:before {
	content: "\e69d";
}
.icon-Typing:before {
	content: "\e69e";
}
.icon-Tools:before {
	content: "\e69f";
}
.icon-Tag:before {
	content: "\e6a0";
}
.icon-Speedometter:before {
	content: "\e6a1";
}
.icon-Share:before {
	content: "\e6a2";
}
.icon-Settings:before {
	content: "\e6a3";
}
.icon-Search:before {
	content: "\e6a4";
}
.icon-Screwdriver:before {
	content: "\e6a5";
}
.icon-Rolodex:before {
	content: "\e6a6";
}
.icon-Ringer:before {
	content: "\e6a7";
}
.icon-Resume:before {
	content: "\e6a8";
}
.icon-Restart:before {
	content: "\e6a9";
}
.icon-PowerOff:before {
	content: "\e6aa";
}
.icon-Pointer:before {
	content: "\e6ab";
}
.icon-Picture:before {
	content: "\e6ac";
}
.icon-OpenedLock:before {
	content: "\e6ad";
}
.icon-Notes:before {
	content: "\e6ae";
}
.icon-Mute:before {
	content: "\e6af";
}
.icon-Movie:before {
	content: "\e6b0";
}
.icon-Microphone2:before {
	content: "\e6b1";
}
.icon-Message:before {
	content: "\e6b2";
}
.icon-MessageRight:before {
	content: "\e6b3";
}
.icon-MessageLeft:before {
	content: "\e6b4";
}
.icon-Menu:before {
	content: "\e6b5";
}
.icon-Media:before {
	content: "\e6b6";
}
.icon-Mail:before {
	content: "\e6b7";
}
.icon-List:before {
	content: "\e6b8";
}
.icon-Layers:before {
	content: "\e6b9";
}
.icon-Key:before {
	content: "\e6ba";
}
.icon-Imbox:before {
	content: "\e6bb";
}
.icon-Eye:before {
	content: "\e6bc";
}
.icon-Edit:before {
	content: "\e6bd";
}
.icon-DSLRCamera:before {
	content: "\e6be";
}
.icon-DownloadCloud:before {
	content: "\e6bf";
}
.icon-CompactCamera:before {
	content: "\e6c0";
}
.icon-Cloud:before {
	content: "\e6c1";
}
.icon-ClosedLock:before {
	content: "\e6c2";
}
.icon-Chart2:before {
	content: "\e6c3";
}
.icon-Bulb:before {
	content: "\e6c4";
}
.icon-Briefcase:before {
	content: "\e6c5";
}
.icon-Blog:before {
	content: "\e6c6";
}
.icon-Agenda:before {
	content: "\e6c7";
}
